body{
    padding: 0px;
    margin: 0px;
}
.big-container{
border: 1px solid black;
background-color: beige;
}
.small-container{
    margin:0px;

}
.u1{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.box2{
    height: 636px;
    width:100%;
}
.box3{
    height: 705px;
    text-align: center;   
}
.div1{
    height:300px;
    width:99%;
    margin-left: 10px;
    display: flex;
}
.div2{
    height: 300px;
    width: 99%;
    margin: 10px;
    margin-top: 20px;
    display: flex;
}
.a1{
    height: 270px;
    width: 30%;
    margin: 10px;
    

}
.a2{
    height: 270px;
    width: 68%;
    
    margin:10px;
}
.b1{
height: 270px;
width:68%;

margin: 10px;

}
.b2{
    height: 270px;
    width: 30%;
    margin: 10px;
    
}
.para{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box4{
    height:870px; 
}
.c1{
    height: 750px;
    width:34%;
    
}
.c2{
    height:750px ;
    
    width: 34%;
}
.c3{
    height: 750px;
    
    width: 34%;
}
.events{
    display: flex;
    justify-content: center;  
}
.pictures{
    display: flex;
    padding: 0px;
}
.circle{
    border-radius:50%;
    
    margin:auto;
    margin-top: 40px;
    height: 300px;
    width: 300px;
}   
.para2{
    height: 300px;
    margin: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div{
 margin: 10px;
}
.para2{
    font-size: 18px;
}
.box5{
    height: 300px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: flex;
    

}
.map{

    float: right;
    margin-top:30px;margin-left: 700px;

}
a{
    color:black;
    text-decoration: none;

}
.contact{
    height: 60%;


}
img{
    border-radius: 50px;
}
